<!--TODO: need to change the image based on the book ( called from index)
  This factors into the href and image seen as well-->


<div>
    <div class="row mt-5">

        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
            <div class="card text-center" style="width: 18rem;" >

                <img id="book-cover-id" src="¶book_cover" class="card-img-top img-fluid" alt="Book Image">

                <div class="card-body">
                    <h5 class="card-title">¶book_title</h5>
                    <p class="card-text">¶book_description</p>
                    <a href="¶book_url" class="btn btn-primary stretched-link" id="read-book-button" onclick="open_book(¶book_id)">Read this book</a>
                </div>
            </div>
        </div>
    </div>
</div>