.carousel-wrapper {
    overflow: hidden;
    }
    
.carousel-inner {
    display: flex;
    flex-direction: row;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(0%);
}

.carousel-control {
    width: 5%;
}
  
  
.carousel-caption {
  position: static;
  background: rgba(0,0,0,0.6);
  color: white;
  padding-bottom: 35px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 25px;
  top:45px;
}
 
.carousel {
    overflow: hidden;
    border-radius: 5px;
    max-width: 900px;
    margin: 1em;
    touch-action: cross-slide-x
}
  
.carousel-indicators {
    bottom: 0px;
}

.carousel-inner img {
    margin: auto;
}
