.carousel-control {
    width: 5%;
}
   
.carousel-caption {
    position: top;
    transform: translateY(-50%);
    bottom: initial;
    background: rgba(0,0,0,0.6);
    color: white;
    bottom: initial;
    top: 50%;
    align-self: start;
}
 
.carousel {
    overflow: hidden;
    border-radius: 5px;
    margin: 1em;
    touch-action: cross-slide-x
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 339 px;
    width: 509 px

  }
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}