flask           # Server framework
cx-Oracle       # Interface for Oracle Database
bcrypt          # For verifying user passwords
cryptography    # For generating secure keys
oci             # Interface for Oracle Cloud Infrastrcture Object Storage (buckets)
pyjwt           # For making JWT cookies to authorize users
flask_cors      # CORS access policy for Flask (to allow requests from anywhere)
PyMuPDF         # For converting PDFs to PNGs
pdoc            # For generating documentation for the project
autopep8        # For formatting Python scripts automatically
markdown2       # For generating static_pages
