<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EduStorybook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/admin/" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/books" class="nav-link">Story Selection</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin Manager </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width:160px;";>
                    <a href="/admin/upload_book" class="nav-link">Upload New Book</a>
                    <a href="/admin/edit_book" class="nav-link">Edit Book</a>
                    <a href="/admin/book_manager" class="nav-link">Book Manager</a>
                    <a href="/admin/study_manager" class="nav-link">Study Manager</a>
                    <a href="TODO: /admin/school_manager -> fill in later after @AmyFeld merge" class="nav-link">School Manager</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <form action="/api/logout" method="POST">
                    <input type="hidden" name="redirect" value="/#log_out_success">
                    <button type="submit" class="btn btn-info btn-navbar-size nav-link">Logout</div>
                </form>
            </li>
        </ul>
    </div>
</nav>