~navbar
<div class="row mt-5">
  <div class="col-12 col-md-4 col-sm-3"></div>
  <div class="col">
    <h1 class="text-center mb-5">Forgot Your Password? </h1>
    <h4 class="text-center"> Don't worry! </h4>
    <h6 class="text-center mb-5"> We will send you an email to update your password. </h6>

    <form action="/api/password/forgot", methods="POST">
      <input type="hidden" name="redirect" value="/password/reset">
      <div class="form-group mb-4">
        <label for="email">Email Address:</label>
        <input id="email" type="email" formControlName="email" class="form-control"></input>
      </div>
      <div class="text-center form-group">
        <button id="submit-button" class="btn btn-primary">Send Email</button>
      </div>
    </form>

    <div class="text-center mt-5">
      <a href="/login" class="btn btn-link">Back to Sign In</a>
    </div>
  </div>
  <div class="col-12 col-md-4 col-sm-3"></div>
</div>