~navbar
<div class="row mt-5">
  <div class="col-12 col-md-4 col-sm-3"></div>
  <div class="col">
    <h1 class="text-center mb-5"> Reset Password </h1>
    <form action="/api/password/reset", methods="POST">
      <input type="hidden" name="redirect" value="/register">
      <div class="form-group mb-4">
       <!-- Tooltip -->
        <label for="new_pass">New Password:</label>
        <input id="new_pass" type="text" formControlName="new_pass" class="form-control"></input>

        <!-- TODO: take reset_key from url, like "url.com/.../reset#key=A93CDG043..." and automatically populate the
        reset_key field 
        <label for="reset_key"> </label>
        <input id="reset_key" type="text" formControlName="reset_key" class="form-control"></input>
        -->

      </div>
      <div class="form-group mb-4">
        <!--Tooltip -->
        <label for="confirm_pass">Confirm Password:</label>
        <input id="confirm_pass" type="password" formControlName="confirm_pass" class="form-control"></input>
      </div>
      <div class="text-center form-group">
        <button class="btn btn-primary">Confirm</button>
      </div>
    </form>

    <div class="text-center mt-5">
    </div>
  </div>
  <div class="col-12 col-md-4 col-sm-3"></div>
</div>