<!-- Home Page-->
~navbar
<script>

$(document).ready(function() {
    const queryString = window.location.search;
    console.log(queryString);

  //  if (queryString == '')

   /* const urlParams = new URLSearchParams(queryString);
    const product = urlParams.get('product')
    console.log(product); */

 })

</script>

<div class="HomePage">
    <h1 class="text-center mb-5" style="text-align:center">Welcome to EduStorybook </h1>
    <div id="homePage" class="center-block carousel slide carousel-fade mx-auto" data-ride="carousel" style="align-items: center;" >
      <ol class="carousel-indicators">
        <li data-target="#homePage" data-slide-to="0" class="active"></li>
        <li data-target="#homePage" data-slide-to="1"></li>
        <li data-target="#homePage" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" data-interval="10000">
          <img class="rounded img-fluid mx-auto d-block" src="/static/images/TitlePage.png"
          alt="First Slide"/>
        </div>   
        <div class="carousel-item">
          <img class="rounded img-fluid mx-auto d-block" src='/static/images/Book.jpg' alt="Second Slide"/>  
            <div class="carousel-caption align-items-center flex-column p-4">
              <h1 style="font-size:18px"> The purpose of this website <br> is to create an environment for learning <br>
              and teaching current and future teachers<br> to expand their knowledge  </h1>
              <h1 style="color: rgb(236, 173, 0);"> .  </h1>
            </div>
        </div>
        <div class="carousel-item" class = "image">
          <img class="rounded img-fluid mx-auto d-block" src ='/static/images/Chalkboard.jpg'  alt="Third Slide"/>
            <div class="carousel-caption align-items-center flex-column p-4">
              <h3 style="font-size:18px"> Have an account? Still need to Register?  </h3>
              <div class="text-center mt-3"> 
                <a class="btn btn-link" href="/login" class="btn btn-link">Login</a>
                <a class="btn btn-link" href="/register" class="btn btn-link">Register</a>
              </div>
            </div>
        </div> 
      </div>
    </div>
    <div class="text-center mt-3">  
      <p>To start interacting with EduStorybook please login or register: </p>
      <a class="btn btn-link" href="/login">Login</a>
      <a class="btn btn-link" href="/register">Register</a>    
    </div>

  </div>
