<!-- this page is used to edit static pages -->

¶navbar

<h1>Editing Static Page ¶static_page_name</h1>

<div class="row">
    <div class="col">
        <h3>
            Content
            <small class="text-muted">This box is where you edit a static page</small>
        </h3>
        <div class="form-group">
            <textarea class="form-control" id="static_page_content" rows="3">¶static_page_content</textarea>
        </div>
    </div>
    <div class="col">
        <h3>
            Preview
            <small class="text-muted">This box is where you preview your changes</small>
        </h3>
        <div class="form-group">
            <textarea class="form-control" id="static_page_preview" rows="3"></textarea>
        </div>
    </div>
</div>
