<div class="container mt-5">
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="mcquizModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="mcquizModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mcquizModalLabel">¶question</h5>
                    </div>
        
                    <div class="modal-body">
                        ¶mc_items
                    </div>
                
                    <div class="modal-footer">
                        <a class='btn btn-primary' href="¶prevPageURL" role='button'> Previous Page </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(()=>{
        $("#mcquizModal").modal("show");
        $('#mcQuizModal').modal('handleUpdate')
    })
</script>