<div class="card">
    <div class="card-body">
        <form action="/api/quiz/submit" method="POST">

            <input type="hidden" name="redirect" value="~url">
            <input type="hidden" name="question_id" value="~question_id">
            <input type="hidden" name="type" value="mc">

            <div id="fourOptionsMC" style="~fourOptionsVisibility">
                <button name="answer_id" type="submit" value="~answer_id_1" class="btn btn-info"> ~option_1 </button> &emsp; &emsp; &emsp; &emsp;
                <button name="answer_id" type="submit" value="~answer_id_2" class="btn btn-info"> ~option_2 </button> 
                <br>
                <br>
                <button name="answer_id" type="submit" value="~answer_id_3" class="btn btn-info"> ~option_3 </button> &emsp; &emsp;
                <button name="answer_id" type="submit" value="~answer_id_4" class="btn btn-info"> ~option_4 </button> 
            </div>

            <div id="twoOptionsMC" style="~twoOptionsVisibility">
                <button name="answer_id" type="submit" value="~answer_id_1" class="btn btn-info"> ~option_1 </button> &emsp; &emsp;
                <button name="answer_id" type="submit" value="~answer_id_2" class="btn btn-info"> ~option_2 </button> 
            </div>
        </form>
    </div>
</div>