<div>
      
  <p style="text-align:center; font-size: 30px; font-weight: bold"> ~book_name </p>
  <br>
 
  <div id="homePage" class="carousel slide carousel-fade mx-auto" data-ride="inactive">
    <ol class="carousel-indicators">
      <li data-target="#homePage" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" data-interval="inactive">
        <img style="display:block; margin-left:auto; margin-right: auto; width:60%" class="img-fluid" src="~current_page" id="testerPage"
        alt="First Slide"/>
      </div>   
    </div>

  <a class="carousel-control-prev text-dark" style="~showPrevLink" href="/storyboard/~id/~prev_page_num" data-mdb-target="#carouselDarkVariant" role="button" data-slide="prev"> < Previous
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next text-dark" style="~showNextLink" href="/storyboard/~id/~next_page_num" data-mdb-target="#carouselDarkVariant" role="button" data-slide="next"> Next >
      <span class="carousel-control-next-icon" aria-hidden="true"  ></span>
      <span class="sr-only">Next</span>
  </a>

  </div>

  <br>

  <NavDropdown title = "Options">
    <div style="text-align:center">
     <NavDropdown.Item> <a href="/StoryBoardQuiz">Go to Quiz</a></NavDropdown.Item> &nbsp; &nbsp;
     <NavDropdown.Item> <a href="/books">Back to Story Selection</a></NavDropdown.Item>
    </div>
  </NavDropdown>
 
</div>