<!--Creating the actual "cards for books"-->
<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-3 my-auto">
            <img class="img-fluid" src="~book_cover" alt="Book Image">
          </div>
          <div class="col-6 my-auto">
            <ul class="list-group">
              <li>
                Title: ~book_title
              </li>
              <li>
                Description: ~book_description
              </li>
              <li>
                Studies: ~book_study
              </li>
            </ul>
          </div>
          <div class="col-3 text-center my-auto">
            <a type="button" class="btn btn-atts bg-info btn-block" onClick="addStudyToBook(~book_id)">Add to Study</a>
            <a href="/admin/edit_book" class="btn btn-atts bg-info btn-block" role="button" aria-pressed="true">Edit Book</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>