<!--Displays a list of the books to select from-->
<div>
    <div class="row mt-5">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
            <div class="container" style="max-height: 100px !important; min-height: 100px !important">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="card-title">¶book_title</h5>
                        <p class="card-text">¶book_description</p>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-atts btn-info"
                            onclick="displaySelectedBook(¶book_id, ¶book_pages, 1)">Edit this book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>