<style>
  .btn-atts
  {
  min-width: 200px;
  max-width: 200px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  border-style: none;
  }
  .col_atts 
  {
  margin-left: 20px !important;
  margin-right: 20px !important;
  }
</style>

~navbar

<div class="Edit_Book">
  <h1 class="text-center mb-5">Edit Book</h1>
</div>

<div class="row justify-content--center">
  <div class="col text-center col_atts">
    <a href="/admin/" class="btn btn-primary btn-atts bg-info" role="button" aria-pressed="true">Save</a>
    <a href="/admin/" class="btn btn-primary btn-atts bg-info" role="button" aria-pressed="true">Publish</a>
  </div>  
</div>  