¶navbar

<!--Creating Space at the top of the page-->
<div class="row mt-5">
    <div class="col-12 col-md-4 col-sm-3"></div>
    <div class="col"></div>
</div>

<!--Title of page-->
<div class="Edit_Book">
    <h1 class="text-center mb-5">Edit Book</h1>
</div>

<!--JS to make modal pop up upon opening window-->
<script>

    let book_id_temp;
    let school_id_temp;

    //show the modal that allows user to select a book to edit 
    $(document).ready(function () {
        $("#selectBookModal").modal('show');
    });

    //modal for the admin to select which book to edit 
    function displaySelectedBook(book_id, page_count, school_id) {

        //place the pages indicators and the pages in first
        book_id_temp = book_id;
        school_id_temp = school_id;

        $('#selectBookModal').modal('hide');
        var importantPages = 3;
        for (var page = 1; page < page_count; page++) {
            var pageOption = $('<option value="' + page + '">' + page + '</option>');
            $('#insert-question').append(pageOption);
            var pageIndicator = $('<h4 id="page-' + page + '">Page ' + page + '</h4>');

            var singlePage = document.createElement('img');
            singlePage.setAttribute("class", "img-fluid");
            singlePage.setAttribute(
                'src',
                '/api/storyboard/page/' + book_id + '/' + page
            );
            singlePage.setAttribute("loading", "lazy");
            if (importantPages > 0)
                singlePage.setAttribute("fetchpriority", "high");
            else
                singlePage.setAttribute("fetchpriority", "low");
            importantPages--;

            $('#book-images-list').append(pageIndicator);
            $('#book-images-list').append(singlePage);
        }

        //then add in the questions that have already been created
        console.log("putting all the page indicators and pages in the preview");
        addExistingQuestions(book_id);

    }

    //list of dictionaries to be sent to backend 
    var questionsCreated = [] //new questions added during open session (send to backend)
    var existingQuestions = []; //questions from database
    var deleteExistingQuestions = []; //questions from database that need to be deleted (send to backend)

    function addExistingQuestions(book_id_in) {
        //save all the questions in the database into an array with the information needed 
        //admin/page/ --> "GET" --> but this gets the pages AND the questions, but we already called the pages
        console.log("inside addExistingQuestions function");

        var questions = [];

        $.ajax({
            url: "/api/admin/page",
            method: "GET",
            data: {
                book_id: book_id_in
            },
            success: function(data) {
                questions = data['questions'];
                console.log(questions);
                //for each questions pulled from the backend 
                    //  create a question preview in the correct spot of the book 
                    //  on delete click, add to deleteExistingQuestions array
                console.log("printing each question");
                questions.forEach(function(e) {
                    console.log(e);
                })

                
                
                for (let i = 0; i < questions.length; i++) {

                    console.log(questions[i]["QUESTION"]);
                    console.log(questions[i]["QUESTION_ID"]);
                    console.log(questions[i]["ANSWER"]);
                    console.log(questions[i]["ANSWER_FEEDBACK"]);
                    console.log(questions[i]["CORRECT"]);
                    /*
                    console.log(questions[i]["book_id_in"]);
                    console.log(questions[i]["question_in"]);
                    console.log(questions[i]["page_prev_in"]);
                    console.log(questions[i]["page_next_in"]);
                    console.log(questions[i]["question_type_in"]);
                    console.log(questions[i]["answers_feedback_in"]);
                    console.log(questions[i]["answers_correct_in"]);
                    */
                }



            },
            failure: function(xhr) {
                alert("Unable to GET questions from backend");
            }
        });

    }

    function deletedExistingQuestion(questionID) {
        // delete a quiz

        // grab the book_id and the other elements needed to delete a question
        // from the page, and then add that to the questionDeleted array
    }

    //adds spot to put in a new answer choice by the admin for a question
    function addChoiceA() {
        $('#mc-answer-choice-holder').append(
            $('#template-new-mc-answer-choice').html()
        );
    }

    function deleteAddedQuestion(randQuestionID) {
        
        for (let i = 0; i < questionsCreated.length; i++) {
            if (questionsCreated[i]['rand_question_id_internal'] == randQuestionID) {
                questionsCreated.splice(i, 1);
                i--;
            }    
        }

    }

    //invoked when admin clicks Add Question button for multiple choice
    function multChoiceNewQuizQ() {

        let insertAfter = $('#insert-question').val(); //this is the page the admin selected to insert the question
        let question = $('#input_MC_question').val(); //this is the question being asked 
        let randQuestionID = Math.round(Math.random() * 1000000000);
        let questionPreview = $('<div id="' + randQuestionID + '">' + question + '</div>'); //styling of the question

        var answers = []
        var count = 0;
        $('#mc-answer-choice-holder').children().each(function (index, element) {
            var ans = {};
            ans['correct'] = $('.input-group-prepend').children().children()[count].checked; //getting if the answer checked or not
            ans['content'] = $(element).children('input').val(); //getting the text for the answer
            ans['feedback'] = $('.feedback-text-area')[count].value; //getting the feedback for the answer
            count = count + 1;
            answers.push(ans);
        });

        let main_question = questionPreview; //this is the header

        let answer_choices = '<div id=' + randQuestionID + ' class="card-body">' //this is the card body
        for(var choice = 0; choice < answers.length; choice++) {
            let cont = '<p>' + answers[choice].content + '</p>';
            let corr = 0;
            if (answers[choice].correct == true) {
                corr = 1;
            }
            let fb = '<p>' + answers[choice].feedback + '</p>';
            answer_choices += cont; //TODO: also show corr and fb, rn it does not do that.
        }
        answer_choices += '</div>';
        answer_choices = $(answer_choices);

        let deleteButton = $('<button>Delete</button>');
        deleteButton.attr("class", "btn btn-outline-secondary float-right");
        deleteButton.attr(
            "onclick", 
            "deleteAddedQuestion(" + randQuestionID + ");" +
            "$('#" + randQuestionID + "').remove()"
        );

        let card_class = document.createElement("div");
        let insertBefore = parseInt(insertAfter) + parseInt(1);
        $('#page-' + insertBefore).before(main_question.append(deleteButton).append(answer_choices));

        //adding the question that was created to the array 
        //first getting all the information - check endpoint admin/page

        let book_id_in = book_id_temp;
        let school_id_in = school_id_temp;
        let question_in = question;
        let page_prev_in = parseInt(insertAfter); //page before question
        let page_next_in = parseInt(insertAfter) + parseInt(1); //page after question

        //arrays of answers, correctness, and their feedback
        let answers_in_temp_all = []; //storing the answer options
        let correct_ans_temp = []; //storing the correct answers
        let feedback_ans_temp = []; //storing the feedback for each answer
        

        for(var choice = 0; choice < answers.length; choice++) { //for everything in the answers array
            
            answers_in_temp_all.push(answers[choice].content); //put answer choice in array

            if (answers[choice].correct == true) { //if the answer is the correct choice
                correct_ans_temp.push('1'); //append the string to the content 
            } else { correct_ans_temp.push('0'); }

            feedback_ans_temp.push(answers[choice].feedback); //put the feedback in an array
        }

        //putting all items in array into the correct format in a string
        let answers_in = "" + answers_in_temp_all[0];
        let answers_feedback_in = "" + feedback_ans_temp[0];
        let answers_correct_in = "" + correct_ans_temp[0];

        for(var asw = 1; asw < answers_in_temp_all.length; asw++) {
            answers_in = answers_in.concat(" ~`~ " + answers_in_temp_all[asw]);
            answers_feedback_in = answers_feedback_in.concat(" ~`~ " + feedback_ans_temp[asw]);
            answers_correct_in = answers_correct_in.concat(" ~`~ " + correct_ans_temp[asw]);
        }

        //pass all of the info in
        let thisNewQ = {
                            "rand_question_id_internal": randQuestionID,
                            "book_id_in": book_id_in,
                            "school_id_in": school_id_in,
                            "question_in": question_in,
                            "page_prev_in": page_prev_in,
                            "page_next_in": page_next_in, 
                            "answers_in": answers_in, 
                            "question_type_in": 1,
                            "answers_feedback_in": answers_feedback_in,
                            "answers_correct_in": answers_correct_in
                        }

        //store it in questionsCreated
        questionsCreated.push(thisNewQ);

    }

    //invoked when admin clicks Add Question button for short answer
    function shortAnswerNewQuizQ() {
        let insertAfter = $('#insert-question').val();
        let question = $('#input_SA_question').val();
        let randQuestionID = Math.round(Math.random() * 1000000000);
        let questionPreview = $('<div class=mb-3 id="' + randQuestionID + '">' + question + '</div>');

        let deleteButton = $('<button>Delete</button>');
        deleteButton.attr("class", "btn btn-outline-secondary float-right");
        deleteButton.attr(
            "onclick", 
            "deleteAddedQuestion(" + randQuestionID + ");" +
            "$('#" + randQuestionID + "').remove()"
        );

        let card_class = document.createElement("div");
        let insertBefore = parseInt(insertAfter) + parseInt(1);
        $('#page-' + insertBefore).before(main_question.append(deleteButton).append(answer_choices));

        //adding the question that was created to the array 
        //first getting all the information - check endpoint admin/page

        let book_id_in = book_id_temp;
        let school_id_in = school_id_temp;
        let question_in = question;
        let page_prev_in = parseInt(insertAfter); //page before question
        let page_next_in = parseInt(insertAfter) + parseInt(1); //page after question
        let answers_in = ""; //TODO: get the optional answer that the admin typed for this question
        let answers_feedback_in = "";
        let answers_correct_in = "";

        let thisNewQ = {
                            "rand_question_id_internal": randQuestionID,
                            "book_id_in": book_id_in,
                            "school_id_in": school_id_in,
                            "question_in": question_in,
                            "page_prev_in": page_prev_in,
                            "page_next_in": page_next_in, 
                            "answers_in": answers_in, 
                            "question_type_in": 0, 
                            "answers_feedback_in": answers_feedback_in,
                            "answers_correct_in": answers_correct_in
                        }
        questionsCreated.push(thisNewQ);

    }

    //when admin clicks Save & Publish
    function submitQuestions() {

        //first check for validity of all the inputs 

        //for everything in the questionsCreated array, send it to the backend

        questionsCreated.forEach(function (e) {
            $.ajax({
                url: '/api/admin/page',
                type: 'POST',
                data: e, 
            success: function(response) {
                alert("Successfully saved questions");
                console.log("success");
            },
            failure: function(xhr) {
                alert("Cannot send data from questions to insert to backend");
            }
            })
        });

        /*
        deleteExistingQuestions.forEach(function (e) {
            $.ajax({
                url: '/api/admin/page',
                type: 'DELETE',
                data: e, 
            success: function(response) {
                alert("Successfully deleted questions");
                console.log("success");
            },
            failure: function(xhr) {
                alert("Cannot send data from questions to delete backend");
            }
            })
        });
        */

    }

</script>

<!--Modal for selecting a book-->
<div class="modal fade" id="selectBookModal" tabindex="-1" role="dialog" aria-labelledby="selectBookModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectBookModalLabel">Select a Book to Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¶book
            </div>
        </div>
    </div>
</div>

<!--Overall container for pages and quiz questions-->
<div class="container">
    <div class="row">
        <div class="col overflow-auto" style="max-height: 500px" id="book-images-list">
        </div>

        <div class="col container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Add a Quiz Question</h4>
                    <div>
                        <nav class="nav nav-tabs" id="myTab">
                            <a class="nav-link active" href="#MC" role="tab" data-toggle="tab">Multiple Choice</a>
                            <a class="nav-link" href="#SA" data-toggle="tab" role="tab">Short Answer</a>
                        </nav>

                        <label for="where-to-insert-question">Question will be inserted after this page</label>
                        <select class="form-select" id="insert-question">
                            <option disabled selected>Please select a page</option>
                        </select>

                        <div class="tab-content my-tab">
                            <div class="tab-pane active" id="MC">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="inserting-question">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group" id="multiple-choice-form">
                                            <label for="input_MC_question">Enter Your Question</label>
                                            <input type="text" class="form-control" id="input_MC_question"
                                                placeholder="???">
                                            <small class="form-text text-muted">Required</small>
                                        </div>

                                        <button id="add-choiceA-button" type="button" class="btn btn-atts btn-info"
                                            onclick="addChoiceA()">Add Answer Choice</button>
                                        <template id="template-new-mc-answer-choice">
                                            <div class="input-group mb-1" id="new-mc-answer-choice">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input class="mr-1" type="checkbox"
                                                            aria-label="Checkbox for following text input">
                                                        Correct</input>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Answer Choice" aria-label="" aria-describedby="basic-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                        onclick="$(this).parent().parent().remove()">Delete</button>
                                                </div>
                                                <div class="input-group-append">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <text class="mr-1">Feedback</text>
                                                            <textarea class="feedback-text-area" name="admin-feedback-for-answer-choice" placeholder=""></textarea>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </template>


                                        <div id="mc-answer-choice-holder"></div>

                                        <button type="submit" class="btn btn-atts btn-info" style="min-width: 100%" onclick="multChoiceNewQuizQ()">Add Question</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="SA">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="inserting-question">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group" id="short-answer-form">
                                            <label for="input_SA_question">Enter Your Question</label>
                                            <input type="text" class="form-control" id="input_SA_question"
                                                placeholder="???">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_SA_answer">Answer</label>
                                            <textarea type="text" class="form-control" id="input_SA_answer"
                                                placeholder="Please type your response here"></textarea>
                                            <small class="form-text text-muted">Optional</small>
                                        </div>
                                        <button type="submit" class="btn btn-atts btn-info"
                                            onclick="shortAnswerNewQuizQ()">Add Question</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Save and Publish buttons-->
<div class="row mt-3 justify-content--center">
    <div class="col text-center col_atts">
        <button type="button" class="btn btn-atts btn-info" data-toggle="modal" data-target="#selectBookModal">
            Change Book
        </button>
        <button type="button" class="btn btn-atts btn-info" role="button" aria-pressed="true" onclick="submitQuestions()">
            Save & Publish
        </button>
    </div>
</div>