¶navbar

<!--Creating Space at the top of the page-->
<div class="row mt-5">
  <div class="col-12 col-md-4 col-sm-3"></div>
  <div class="col"></div>
</div> 

<!--Title of page-->
<div class="Edit_Book">
  <h1 class="text-center mb-5">Edit Book</h1>
</div>

<!--JS to make modal pop up upon opening window-->
<script>

    let book_id_temp;
    let school_id_temp;

    //show the modal that allows user to select a book to edit 
    $(document).ready(function(){
        $("#selectBookModal").modal('show'); 
    });

    //modal for the admin to select which book to edit 
    function displaySelectedBook(book_id, page_count, school_id) {
        book_id_temp = book_id;
        school_id_temp = school_id;

        $('#selectBookModal').modal('hide');
        var importantPages = 3;
        for(var page = 1; page < page_count; page++) {
            var pageOption = $('<option value="' + page + '">' + page + '</option>');
            $('#insert-question').append(pageOption);
            var pageIndicator = $('<h4>Page ' + page + '</h4>');

            var singlePage = document.createElement('img');
            singlePage.setAttribute("class", "img-fluid");
            singlePage.setAttribute(
                'src', 
                '/api/storyboard/page/' + book_id + '/' + page
            );
            singlePage.setAttribute("id", "page-" + page);
            singlePage.setAttribute("loading", "lazy");
            if(importantPages > 0)
                singlePage.setAttribute("fetchpriority", "high");
            else
                singlePage.setAttribute("fetchpriority", "low");
            importantPages--;

            $('#book-images-list').append(pageIndicator);
            $('#book-images-list').append(singlePage);
        }
    }

    //list of dictionaries to be sent to backend 
    var questionsCreated = []
    var questionsDeleted = []

    //adds spot to put in a new answer choice by the admin for a question
    function addChoiceA() {
        $('#mc-answer-choice-holder').append( 
            $('#template-new-mc-answer-choice').html()
        );
    }

    //invoked when admin clicks Add Question button for multiple choice
    function multChoiceNewQuizQ() {

        let insertAfter = $('#insert-question').val(); //this is the page the admin selected to insert the question
        let question = $('#input_MC_question').val(); //this is the question being asked 
        let randQuestionID = 'sap-' + Math.round(Math.random() * 1000000000);
        let questionPreview = $('<div id="' + randQuestionID + '">' + question + '</div>'); //styling of the question

        var answers = []

        $('#mc-answer-choice-holder').children().each(function (index, element) {
            var ans = {};
            ans['correct'] = $(element).children('.input-group.input-group-prepend.input');
            ans['content'] = $(element).children('input').val();

            console.log("testing the options");
            console.log(ans['correct'].val()) //undefined
            console.log(ans['correct'].prop('checked')); //undefined

            console.log($(element).children('input-group.input-group-prepend.input-group-text.input'));
            console.log($(element).children('input-group.input-group-prepend.input-group-text.is-correct-checkbox'));
            console.log($(element).children('input-group.input-group-prepend.input-group-text.is-correct-checkbox.input'));

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input'));

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').get());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').get());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').get());

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').prop('checked', 'checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').prop('checked', 'checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').prop('checked', 'checked'));

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').text());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').text());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').text());

            //gives false
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').val());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').val());
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').val());

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').prop('checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').prop('checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').prop('checked'));

            console.log($(element).children('.input-group.input-group-prepend.input-group-text.input').is(':checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox').is(':checked'));
            console.log($(element).children('.input-group.input-group-prepend.input-group-text.is-correct-checkbox.input').is(':checked'));


            console.log($(element).children('input-group.input-group-prepend.input'));
            console.log($(element).children('input-group.input-group-prepend.is-correct-checkbox'));
            console.log($(element).children('input-group.input-group-prepend.is-correct-checkbox.input'));

            console.log($(element).children('.input-group.input-group-prepend.input'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input'));

            console.log($(element).children('.input-group.input-group-prepend.input').get());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').get());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').get());

            console.log($(element).children('.input-group.input-group-prepend.input').prop('checked', 'checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').prop('checked', 'checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').prop('checked', 'checked'));

            console.log($(element).children('.input-group.input-group-prepend.input').text());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').text());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').text());

            console.log($(element).children('.input-group.input-group-prepend.input').val());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').val());
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').val());

            console.log($(element).children('.input-group.input-group-prepend.input').prop('checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').prop('checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').prop('checked'));

            //gives false
            console.log($(element).children('.input-group.input-group-prepend.input').is(':checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox').is(':checked'));
            console.log($(element).children('.input-group.input-group-prepend.is-correct-checkbox.input').is(':checked'));

            console.log($(element).children('input-group-prepend.input').is(':checked'));
            console.log($(element).children('input-group-prepend.is-correct-checkbox').is(':checked'));
            console.log($(element).children('input-group-prepend.is-correct-checkbox.input').is(':checked'));

            //console.log(ans['correct'].is(':checked'));//false
            //console.log(ans['correct']);
            //console.log($(element).children('.input-group.input-group-prepend.input'));
            //console.log($('#is-correct-checkbox').prop('checked')); //true
            //console.log($(element).prop('checked')); //undefined
            console.log(ans);

            answers.push(ans);
        });

        let main_question = questionPreview; //this is the header
        
        let answer_choices = '<div id=' + randQuestionID + ' class="card-body">' //this is the card body
        for(var choice = 0; choice < answers.length; choice++) {
            let choice2 = '<p>' + answers[choice].content + '</p>';
            answer_choices += choice2;
        }
        answer_choices += '</div>';
        answer_choices = $(answer_choices);

        let deleteButton = $('<button>Delete</button>');
        deleteButton.attr("class", "btn btn-outline-secondary float-right");
        deleteButton.attr("onclick", "$('#" + randQuestionID + "').remove()");
        
        let card_class = document.createElement("div");
        $('#page-' + insertAfter).after(main_question.append(deleteButton).append(answer_choices));
        
        //adding the question that was created to the array 
        //first getting all the information - check endpoint admin/page
        
        let book_id_in = book_id_temp;
        let school_id_in = school_id_temp;
        let question_in = question; 
        let page_prev_in = parseInt(insertAfter); //page before question
        let page_next_in = parseInt(insertAfter) + parseInt(1); //page after question

        //answers is an array with all the answers choices for the question
        let correct_ans_temp = "";
        let answers_in_temp_all = []
        for(var choice = 0; choice < answers.length; choice++) { //for everything in the answers array
            //console.log(answers[choice].correct.prop(':checked'));
            /**
            if (answers[choice].correct.checked) { //if the answer is the correct choice
                correct_ans_temp = '^^^:' + answers[choice].content; //append the string to the content
                answers_in_temp_all.push(correct_ans_temp); //put it in the new array 
            }
            else {
                correct_ans_temp = answers[choice].content;
                answers_in_temp_all.push(correct_ans_temp);
            }
            */
           
        }
        let answers_in = answers_in_temp_all.map(o => o.content).join(" ~`~ ");

        let thisNewQ = {
                            "book_id_in": book_id_in,
                            "school_id_in": school_id_in,
                            "question_in": question_in,
                            "page_prev_in": page_prev_in,
                            "page_next_in": page_next_in, 
                            "answers_in": answers_in, 
                            "question_type_in": 1 
                        }
        questionsCreated.push(thisNewQ);

    } 

    //invoked when admin clicks Add Question button for short answer
    function shortAnswerNewQuizQ() {
        let insertAfter = $('#insert-question').val();
        let question = $('#input_SA_question').val();
        let randQuestionID = 'sap-' + Math.round(Math.random() * 1000000000);
        let questionPreview = $('<div class=mb-3 id="' + randQuestionID + '">' + question + '</div>');

        let deleteButton = $('<button>Delete</button>');
        deleteButton.attr("class", "btn btn-outline-secondary float-right");
        deleteButton.attr("onclick", "$('#" + randQuestionID + "').remove()");

        let card_class = document.createElement("div");
        $('#page-' + insertAfter).after(questionPreview.append(deleteButton));

        //adding the question that was created to the array 
        //first getting all the information - check endpoint admin/page
        
        let book_id_in = book_id_temp;
        let school_id_in = school_id_temp;
        let question_in = question; 
        let page_prev_in = parseInt(insertAfter); //page before question
        let page_next_in = parseInt(insertAfter) + parseInt(1); //page after question
        let answers_in = "";

        let thisNewQ = {
                            "book_id_in": book_id_in,
                            "school_id_in": school_id_in,
                            "question_in": question_in,
                            "page_prev_in": page_prev_in,
                            "page_next_in": page_next_in, 
                            "answers_in": answers_in, 
                            "question_type_in": 0 
                        }
        questionsCreated.push(thisNewQ);

    }

    //when admin clicks Save & Publish
    function submitQuestions() {
        //for everything in the questionsCreated array, send it to the backend

        questionsCreated.forEach(function(e) {
            console.log(e);
            
            $.ajax({
                url: '/api/admin/page',
                type: 'POST',
                data: e, 
            success: function(response) {
                console.log("success");
            },
            failure: function(xhr) {
                alert("Cannot send data from questions to backend");
            }
            })
            

        })
        
        
    }

</script>

<!--Modal for selecting a book-->
<div class="modal fade" id="selectBookModal" tabindex="-1" role="dialog" aria-labelledby="selectBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectBookModalLabel">Select a Book to Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¶book
      </div>
    </div>
  </div>
</div>

<!--Overall container for pages and quiz questions-->
<div class="container">
    <div class="row">
        <div class="col overflow-auto" style="max-height: 500px" id="book-images-list">
        </div>

        <div class="col container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Add a Quiz Question</h4>
                    <div>
                        <nav class="nav nav-tabs" id="myTab">
                            <a class="nav-link active" href="#MC" role="tab" data-toggle="tab">Multiple Choice</a>
                            <a class="nav-link" href="#SA" data-toggle="tab" role="tab">Short Answer</a>
                        </nav>

                        <label for="where-to-insert-question">Question will be inserted after this page</label>
                        <select class="form-select" id="insert-question">
                            <option disabled selected>Please select a page</option>
                        </select>

                        <div class="tab-content my-tab">
                            <div class="tab-pane active" id="MC">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="inserting-question">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group" id="multiple-choice-form">
                                            <label for="input_MC_question">Enter Your Question</label>
                                            <input type="text" class="form-control" id="input_MC_question" placeholder="???">
                                            <small class="form-text text-muted">Required</small>
                                        </div>

                                        <button id="add-choiceA-button" type="button" class="btn btn-atts btn-info" onclick="addChoiceA()">Add Answer Choice</button>
                                        <template id="template-new-mc-answer-choice">
                                            <div class="input-group mb-1" id="new-mc-answer-choice">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input class="mr-1" id="is-correct-checkbox" type="checkbox" aria-label="Checkbox for following text input"> Correct</input>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" onclick="$(this).parent().parent().remove()">Delete</button>
                                                </div>
                                            </div>
                                        </template>

                                        <div id="mc-answer-choice-holder"></div>

                                        <button type="submit" class="btn btn-atts btn-info" onclick="multChoiceNewQuizQ()">Add Question</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="SA">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="inserting-question">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group" id="short-answer-form">
                                            <label for="input_SA_question">Enter Your Question</label>
                                            <input type="text" class="form-control" id="input_SA_question" placeholder="???">
                                            <small class="form-text text-muted">Required</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_SA_answer">Answer</label>
                                            <textarea type="text" class="form-control" id="input_SA_answer" placeholder="Please type your response here"></textarea>
                                            <small class="form-text text-muted">Optional</small>
                                        </div>
                                        <button type="submit" class="btn btn-atts btn-info" onclick="shortAnswerNewQuizQ()">Add Question</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!--Save and Publish buttons-->
<div class="row mt-3 justify-content--center">
  <div class="col text-center col_atts">
    <a type="button" class="btn btn-atts bg-info" data-toggle="modal" data-target="#selectBookModal">Change Book</a>
    <a type="button" class="btn btn-atts bg-info" role="button" aria-pressed="true" onclick="submitQuestions()">Save & Publish</a>
  </div>  
</div>  
