<script>
    //function generates random 6 digit study id
    function generateNewID() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        //let randomID = Math.floor((Math.random() * 1000000) + 1);
        $('#study_invite_code').val(text);
        console.log(
            $('#study_invite_code').contents
        )

    }
    //function toggles the ability to see the input field for a new school
    //when "other" is selected
    function showNewSchoolOption() {
        let option = $('#school-for-study-select').val();
        if (option == "newSchool")
            $('#new-school-for-study').toggleClass("d-none");
    } 
</script>

<!--Modal for Create New Study-->
<div class="modal fade" id="createNewStudyModal" tabindex="-1" role="dialog" aria-labelledby="createNewStudyModalLabel"
    aria-hidden="true">
    <form action="/api/admin/study" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="redirect" value="/admin/">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectBookModalLabel">Create a New Study</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                    <!--Name of New Study-->
                    <label for="message-text" class="col-form-label">Study Name:</label>
                    <div class="form-group">
                        <input type="text" id="study_name" name="study_name"placeholder= "Study name here">
                    </div>

                    <!--School of New Study-->
                    <label for="message-text" class="col-form-label">Select a School:</label>
                    <div class="input-group mb-3">
                        <select class="form-control" id="school_id" name="school_id"placeholder="Select a School">
                            ¶school_options
                            <!--do we need an option for new school?-->
                        </select>
                    </div>

                    <!--Study Code of New Study-->
                    <label for="message-text" class="col-form-label">Study Invite Code:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="study_invite_code" id="study_invite_code" placeholder="######" value="study_invite_code"
                            aria-describedby="basic-addon2">
                    </div>

                    <!--Input Field for a New School for a New Study-->
                    <div class="d-none" id="new-school-for-study">
                        <label for="message-text" class="col-form-label">New School Name:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" href="#" id="school-input-from-user"
                                aria-describedby="basic-addon2">
                        </div>
                    </div> 
            </div>

            <!--Button to send data to backend-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-atts bg-info">Create</button>
                <!--TODO: make info transfer to backend-->
            </div>

        </div>
    </div>
    </form>
</div>

¶navbar

<!--Creating Space at the top of the page-->
<div class="row mt-5">
    <div class="col-12 col-md-4 col-sm-3"></div>
    <div class="col"></div>
</div>

<!--Title of page-->
<div class="Index">
    <h1 class="text-center mb-5">Welcome Admin!</h1>
</div>

<!--Content-->
<div class="container">
    <div class="row justify-content--center">
        <div class="col text-center col_atts">
            <h3 class="text-center mt-5">Books</h3>
            <a href="/admin/upload_book" class="btn btn-atts bg-info" role="button" aria-pressed="true">Upload A New
                Book</a>
            <a href="/admin/edit_book" class="btn btn-atts bg-info" role="button" aria-pressed="true">Edit A Book</a>
            <a href="/admin/book_manager" class="btn btn-atts bg-info" role="button" aria-pressed="true">Book
                Manager</a>
        </div>
        <div class="col text-center col_atts">
            <h3 class="text-center mt-5">Studies</h3>
            <a href="/admin/study_manager" class="btn btn-atts bg-info" role="button" aria-pressed="true">Study
                Manager</a>
            <button class="btn btn-atts bg-info" data-toggle="modal" data-target="#createNewStudyModal" onclick="generateNewID()">Create
                New Study</button>
        </div>
        <div class="col text-center col_atts">
            <h3 class="text-center mt-5">Download Data</h3>
            <a href="/api/admin/download/user" target="_blank" class="btn btn-atts bg-info" role="button"
                aria-pressed="true">User Data</a>
            <a href="/api/admin/download/action" target="_blank" class="btn btn-atts bg-info" role="button"
                aria-pressed="true">Action Data</a>
        </div>
    </div>
</div>
