<!-- ... index.html ...

/admin/

TODO: This is the admin (home)page that will link to all of the other pages
(book_manager, edit_book, etc.)


:^)


                                       (((((((((((#                                    
                                       &(((((((((&(#%                                  
                                    %%%((((((##( &(#/%                                 
                                     (&(((&%#%#&&. &.,&&                               
                                     %%(###&......,....../                             
                                    .  /&&##&,%...%&%%%/&../&                          
                          #&%#%&&.(.%*.&,&........&..&..&.@..&#                        
             &&%(((((((&&&((((((...(,.....&&*..,#&&......%&..&((((%%.                  
       ,&&&%*    #((&(%((((((((&...&..............*.@%&....%,((((((&&                  
    %          &((((%((((((((((#...&............&&...%%.....#(((((((((/                
             &((((((((((((((((((&..%............#&%#/#,&&..&((((((((((&(               
            &((&(((((((((&#&((((&&&%@...........%#&#@..#*.&(((((((((((((               
           /(& &((((&((((((#((((&&(*..............&&%%,.&.   &(((((((((&&              
           &&  &(&%(((((((#(((&((%..%................&&     %(((((((#((&#              
           ,   #&&&((%((&#(&. &(((&..&...........,&         &((&((((((&                
               & %&((/%(  &   (((((((((&&....&/&           &(&(&((&(&                  
               %  #(% %&       *(((((((((&(,*.                 &&                      
                  &    &   &.&&&&&&((((((&&&%  ,. &......(                             
                          .%((%&.....&(&&(/.&((&*.(.((.&..&                            
                         &.%%&.,&&#%     &.&(&&&&.(.&...,.                             
                         &.&.%(%&&&. *&...&(#(&(*.%....(                               
                          &.&**.....&     &(((&.&...*.                                 
                            &.......&        &,@..&   *&                              
-->