 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="/">EduStorybook</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
 
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a href="/login" class="nav-link">Login</a>
         </li>
         <li class="nav-item">
           <a href="/books" class="nav-link">Story Selection</a>
         </li>
         <li class="nav-item">
            <a href="/admin/upload_book" class="nav-link">Upload A New Book</a>
          </li>
          <li class="nav-item">
            <a href="/admin/edit_book" class="nav-link">Edit A Book</a>
          </li>
          <li class="nav-item">
            <a href="/admin/book_manager" class="nav-link">Book Manager</a>
          </li>
          <li class="nav-item">
            <a href="/admin/study_manager" class="nav-link">Study Manager</a>
          </li>
       </ul>
     </div>
 </nav>

 <div className="Index">
   <h1 class="text-center mb-5">Welcome Admin! </h1>
</div>      
 
<div className="text-center mt-5">  
   <a class="btn btn-link" href="/admin/upload_book">Upload A New Book</a>
   <a class="btn btn-link" href="/admin/edit_book">Edit A Book</a>
   <a class="btn btn-link" href="/admin/book_manager">Book Manager</a>
   <a class="btn btn-link" href="/admin/study_manager">Study Manager</a>
</div>