<!-- ... study_manager.html ...
''' For moving users and assigning them to studies; additionally, 
there will be a popup that allows the administrator to create studies 
(with study_names and study_invite_codes)
-->

¶navbar
<div class="row mt-5 justify-content-center">

    <script>
        function generateNewID() {
            let randomID = Math.floor((Math.random() * 1000000) + 1);
            document.getElementById('study_id').value = randomID;
        }

        function addBookToStudy(study_id) {
            $('#studyId').val(study_id);
            $('#addBookToStudy').modal('show')
        }

        function showUsers(study_id) {
            $.ajax({
                url: "/api/admin/study/user",
                type: "GET",
                data: {
                    "study_id": study_id
                },
                success: function(response) {
                    var users = response['users'];
                    console.log(response)

                    $('#showUsersTable').empty();

                    users.forEach(function(element, index) {
                        var user_row = $(`<tr><td>${element["EMAIL"]}</td><td>${element["FIRST_NAME"]}</td><td>${element["LAST_NAME"]}</td></tr>`);
                        $('#showUsersTable').append(user_row);
                    });

                    $('#showUsers').modal('show');

                },
                failure: function(xhr){
                    alert("ERROR!!!!!!")
                }
            })

        }

        function addStudyToUser(user_id){
            $('#userId').val(user_id);
            $('#addStudyToUser').modal('show');
        }

        function viewUsersinSchool(school_id){
            $.ajax({
                url: "/api/admin/get/user/school",
                type: "GET",
                data: {
                    "school_id": school_id
                },
                success: function(response) {
                    var users = response['users'];
                    console.log(response)

                    $('#showSchoolTable').empty();

                    users.forEach(function(element, index) {
                        var user_row = $(`<tr><td>${element["EMAIL"]}</td><td>${element["FIRST_NAME"]}</td><td>${element["LAST_NAME"]}</td></tr>`);
                        $('#showSchoolTable').append(user_row);
                    });

                    $('#showSchools').modal('show');

                },
                failure: function(xhr){
                    alert("Error getting the users from specific school in database")
                }
            })
        }
    </script>

    <!--Modal for Adding a Book to this Study -->
    <div class="modal fade" id="addBookToStudy" tabindex="-1" role="dialog" aria-labelledby="createNewStudyModalLabel"
        aria-hidden="true">
        <form action="/api/admin/book/study" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="redirect" value="/admin/study_manager">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="selectBookModalLabel">Add Book to Study</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="direction" id="direction" value="btos">
                        <input type="hidden" id="studyId" name="study_id" value="study_id">
                        <!-- TODO: admin_add_book_to_study/  Add all the study ids and have the ones the book is involved with checked -->
                        <div class="form-group">
                            <label for="study_id">Book ID(s) for Study</label>
                            <select multiple class="form-control" id="book_ids" name="book_id">
                                ¶add_book
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="/admin/study_manager">
                        <button type="submit" class="btn btn-atts bg-info" >Save</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Adding/Editing User to be in Studies -->
    <div class="modal fade" id="addStudyToUser" tabindex="-1" role="dialog" aria-labelledby="createNewStudyModalLabel"
        aria-hidden="true">
        <form action="/api/admin/study/user" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="redirect" value="/admin/study_manager">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="selectBookModalLabel">Edit User's Study</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="userId" name="user_id" value="user_id">
                        <div class="form-group">
                            <label for="study_id">Study ID(s) for User</label>
                            <select multiple class="form-control" id="study_ids" name="study_id">
                                ¶add_study
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-atts bg-info">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Modal for Editing Users to Studies -->
    <div class="modal fade" id="showUsers" tabindex="-1" role="dialog" aria-labelledby="createNewStudyModalLabel"
        aria-hidden="true">
        <form action="/api/admin/study/user" method="GET">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectBookModalLabel">Users in Study</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="studyId" name="study_id" value="study_id">
                        <!-- TODO: Add all the study ids and have the ones the book is involved with checked -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">User Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody id="showUsersTable">
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-atts bg-info" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for Viewing Schools and Users assigned -->
    <div class="modal fade" id="showSchools" tabindex="-1" role="dialog" aria-labelledby="createNewSchoolModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectSchoolModalLabel">Users in Study</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">User Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                            </thead>
                            <tbody id="showSchoolTable">
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-atts bg-info" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-sm-1"></div>

    <div class="col-md-10 col-sm-10">
        <h1 class="text-center mb-5">Study Manager</h1>

        <!--Creating the actual nav bar for the seperation of users and studies-->
        <div>
            <nav class="nav nav-tabs" role="tablist">
                <a class="nav-link active" href="#studies" aria-controls="1" role="tab" data-toggle="tab">Studies</a>
                <a class="nav-link" href="#users" aria-controls="2" role="tab" data-toggle="tab">Users</a>
                <a class="nav-link" href="#schools" aria-controls="3" role="tab" data-toggle="tab">Schools</a>
            </nav>

            <!-- Studies tab -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="studies">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Study Name</th>
                                <th scope="col">Study Invite Code</th>
                                <th scope="col">Books</th>
                                <th scope="col">Users</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            ¶study_list
                        </tbody>
                    </table>
                </div>

                <!-- Users Tab -->
                <div role="tabpanel" class="tab-pane" id="users">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">User Email</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Studies</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            ¶add_user
                        </tbody>
                    </table>
                </div>

                <!-- School tab -->
                    <div role="tabpanel" class="tab-pane active" id="schools">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">School Name</th>
                                    <th scope="col">Users</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                ¶school_list
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
</div>